<dl class="col-md-12">
    <dt class="col-md-2 col-md-offset-2 bordered"><a href="#todo">TODO</a></dt>
    <dt class="col-md-2 col-md-offset-1 bordered"><a href="#chat">Chat</a></dt>
    <dt class="col-md-2 col-md-offset-1 bordered"><a href="#parking">Parkinglot</a></dt>
</dl>